
@{
    ViewBag.Title = "LandingPage";
    Layout = "~/Views/ViewsTemplates/LandingPage_Pivot.cshtml";

}
<div class="main-container">
    <header class="fullscreen-element no-pad centered-text">
        <div class="background-image-holder parallax-background overlay">
            <img class="background-image" alt="Background Image" src="~/Temas/Simply_white/ownImages/Imagen_LandingPage.jpg">
        </div>

        <div class="container align-vertical">
            <div class="row">
                <div class="col-md-12 text-center">
                    @*<span class="text-white alt-font">Say Hello To Pivot</span>*@
                    <style>
                        .texto {
                            text-shadow: 2px 2px 4px #000000;
                            color: white;
                        }
                    </style>

                    <h1 class="texto">"Encuentra un lugar como si fuera un hogar"</h1>

                    <h2 class="texto">Ingresar como</h2>
        
                    <a target="_blank" href="http://www.mediumra.re/pivot/variant/builder.html" class="btn btn-primary btn-white">Estudiante</a>
                    <a href="#" class="texto btn btn-primary btn-filled ">Arrendador</a>
                </div>
            </div><!--end of row-->
        </div><!--end of container-->
    </header>



    <section class="pricing-1 bg-secondary-1" >
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <h1 class="text-white">Planes para arrendadores<br>Anuncia tu inmubele a bajo precio</h1>
                </div>
            </div><!--end of row-->
        <div class="col-md-1"></div>
            <div class="row clearfix pricing-tables">
            
                <div class="col-md-3  col-sm-6 no-pad-right ">
                    <div class="pricing-table align-content-lg-center">
                        <div class="price">
                            <span class="sub">S/.</span>
                            <span class="amount">0</span>
                            <span class="sub">/mes</span>
                        </div>
                        <ul class="features">
                            <li><strong>Promoción básica</strong></li>
                            <li><strong>1 inmuble</strong></li>
                            <li><strong>soporte  las 24 horas</strong></li>
                        </ul>
                        <a href="#" class="btn btn-primary btn-white">Obtener</a>
                    </div>
                </div>
                <div class="col-md-3  col-sm-6 no-pad">
                    <div class="pricing-table">
                        <div class="price">
                            <span class="sub">S/.</span>
                            <span class="amount">15</span>
                            <span class="sub">/mes</span>
                        </div>
                        <ul class="features">
                            <li><strong>Promoción básica</strong></li>
                            <li><strong>Anuncia hasta 3 inmuebels</strong></li>
                            <li><strong>Soporte</strong>las 24 horas</li>
                           
                        </ul>
                        <a href="#" class="btn btn-primary btn-white">Obtener</a>
                    </div>
                </div>

                <div class="col-md-3  col-sm-6 no-pad">
                    <div class="pricing-table">
                        <div class="price">
                            <span class="sub">S/.</span>
                            <span class="amount">30</span>
                            <span class="sub">/mes</span>
                        </div>
                        <ul class="features">
                            <li><strong>Promoción Premium</strong></li>
                            <li><strong>Inmuebles</strong>ilimitados</li>
                            <li><strong>soporte las 24 horas</strong> </li>
                        </ul>
                        <a href="#" class="btn btn-primary btn-white">Obtener</a>
                    </div>
                </div>
            </div><!--end of row-->

        </div><!--end of container-->

    </section>

    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 text-center">
                    @*<i class="icon icon-jumbo social_twitter"></i>*@
                    <img src="~/Temas/Simply_white/ownImages/BULLS LOGO.png" alt="" width="80" height="60">
                    @*<div id="tweets" data-widget-id="492085717044981760">

                    </div>*@
                    <p></p>
     
                    <p class="m-b-40">

                        Una aplicación desarrollada por <strong><a href="#">Bulls Developer</a></strong> 
                    </p>
                </div>
            </div><!--end of row-->
        </div><!--end of container-->
    </section>
</div>