
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/ViewsTemplates/Login_Simply_white.cshtml";
}
@* Cuestionario de login*@

<div class="login-container bg-white">
    <div class="p-l-50 m-l-20 p-r-50 m-r-20 p-t-50 m-t-30 sm-p-l-15 sm-p-r-15 sm-p-t-40">
        <img src="~/Temas/Simply_white/ownImages/logo AP2_SinFondo.png" alt="logo"  width="100" height="90">      
          <p class="p-t-35 ">INICIAR SESIÓN</p>
        <!-- START Login Form -->
        <form id="form-login" class="p-t-15" role="form" action="index.html">
            <!-- START Form Control-->
            <div class="form-group form-group-default">
                <label>Usuario</label>
                <div class="controls">
                    <input type="text" name="Email" placeholder="Correo" class="form-control" required>
                </div>
            </div>
            <!-- END Form Control-->
            <!-- START Form Control-->
            <div class="form-group form-group-default">
                <label>Contraseña</label>
                <div class="controls">
                    <input type="password" class="form-control" name="password" placeholder="Contraseña" required>
                </div>
            </div>
            <!-- START Form Control-->
            @*<div class="row">
                <div class="col-md-6 no-padding sm-p-l-10">
                    <div class="checkbox ">
                        <input type="checkbox" value="1" id="checkbox1">
                        <label for="checkbox1">Mantenerme Siempre Conectado</label>
                    </div>
                </div>
                <div class="col-md-6 d-flex align-items-center justify-content-end">
                    <a href="#" class="text-info small">Registrar</a>
                </div>
            </div>*@
            <!-- END Form Control-->
            <div>
                <button class="btn btn-primary btn-cons m-t-20" type="submit">Ingresar</button>
                <button  type="button" onclick="Registro()"  class="btn btn-link btn-cons m-t-20" >Registrarse</button>
            </div>
            
        </form>
        <!--END Login Form-->
        <div class="pull-bottom sm-pull-bottom">
            <div class="m-b-30 p-r-80 sm-m-t-20 sm-p-r-15 sm-p-b-20 clearfix">
                <div class="col-sm-3 col-md-2 no-padding">
                    <img alt="" class="m-t-5 m-l-35" data-src="Temas/Simply_white/ownImages/BULLS LOGO.png" data-src-retina="Temas/Simply_white/ownImages/BULLS LOGO.png" height="60" src="Temas/Simply_white/ownImages/BULLS LOGO.png" width="80">
                </div>
                <div class="col-sm-12  no-padding m-t-10">
                    <p>
                        <small>
                            @*Create a pages account. If you have a facebook account, log into it for this
                            process. Sign in with <a href="#" class="text-info">Facebook</a> or <a href="#"
                                                                                                  class="text-info">Google</a>*@
                            Desarrollado por Bulls Developer
                        </small>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function Registro()
    {
      location.href="@Url.RouteUrl("RegisterRoute")";

    }

</script>