
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/ViewsTemplates/Register_Simply_white.cshtml";
}

<div class="register-container full-height sm-p-t-30">
    <div class="d-flex justify-content-center flex-column full-height ">
        <img src="~/Temas/Simply_white/ownImages/logo AP2_SinFondo.png" alt="logo" width="100" height="90">
        <h3>Crea tu cuenta para encontrar tu próximo lugar ideal</h3>
        <p>
            Crea tu cuenta mediante tu correo electrónico de tu preferencia
        </p>
        <form id="form-register" class="p-t-15" role="form" action="index.html">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group form-group-default">
                        <label>Nombre</label>
                        <input type="text" name="fname" placeholder="John" class="form-control" required>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group form-group-default">
                        <label>Apellido</label>
                        <input type="text" name="lname" placeholder="Sanchez" class="form-control" required>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group form-group-default">
                        <label>Email</label>
                        <input type="text" name="uname" placeholder="correo electrónico" class="form-control" required>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group form-group-default">
                        <label>Contraseña</label>
                        <input type="password" name="pass" placeholder="Minimo 4 caracteres" class="form-control" required>
                    </div>
                </div>
            </div>
            @*<div class="row">
                <div class="col-md-12">
                    <div class="form-group form-group-default">
                        <label>Email</label>
                        <input type="email" name="email" placeholder="We will send loging details to you" class="form-control" required>
                    </div>
                </div>
            </div>*@
            <div class="row m-t-10">
                <div class="col-lg-6">
                    <p><small>Acepto los <a href="#" class="text-info">terminos y condiciones</a>.</small></p>
                </div>
                <div class="col-lg-6 text-right">
                    <a href="#" class="text-info small">Ayuda? Contactenos</a>
                </div>
            </div>
            <button class="btn btn-primary btn-cons m-t-10" type="submit">Crear nueva cuenta</button>
        </form>
    </div>
</div>

